.form-control{
    width: 60% !important
}

.input-group{
    width: 61%
}

// .bi{
//     color: solid black;
//     margin-left: 15%;
//     background-color: black;
// }

.form-label{
    font-weight: 600 !important;
}

.login{
    padding-top: 5%;
}

.loginPage{
    margin-left: 35%;
    color: black;
}


.mb-3{
    padding-left: 15% !important;
}

.register{
    margin-left: 25%;
    color: black;
}

input{
    border-width: 2px !important;
}

.inline{
    margin-left: 5% ;
}