<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
    <a class="navbar-brand p-2" href="">ResumeBuilder</a>    
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'disabled': !isLoggedIn}" routerLink="/build">
            Build Portfolio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'disabled': !isLoggedIn}" routerLink="/about">
            About Us
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item text-nowrap dropdown">
          <a id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle profile-icon" role="img" aria-label="Profile"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item active" *ngIf="isLoggedIn">Hi {{getUser()}}!</a>
       
            <a class="dropdown-item" *ngIf="!isLoggedIn" routerLink="/login">Login</a>
            <a class="dropdown-item" *ngIf="isLoggedIn" >Logout</a>
          </div>
        </li>
      </ul>
    </div>
</nav> -->



<div id="top"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <i class="bi bi-gear-wide-connected icon-padding"></i>
      Resume Builder
    </a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'disabled': !isLoggedIn}" routerLink="/build">
            Build Portfolio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'disabled': !isLoggedIn}" routerLink="/about">
            About Us
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item text-nowrap dropdown">
          <a id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle profile-icon" role="img" aria-label="Profile"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item active" *ngIf="isLoggedIn">Hi {{getUser()}}!</a>
            <a class="dropdown-item" *ngIf="!isLoggedIn" routerLink="/login">Login</a>
            <a class="dropdown-item" *ngIf="isLoggedIn">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>